 .mapView {
     min-width: 500px;
     height: 100%;
     width: 100%;
     min-height: 50px;
     word-wrap: break-word;
 }

 li {
     font-weight: 600;
     display: list-item;
     list-style-type: disc;
     list-style-position: inside;
 }

 .border {
     border-style: dotted;
     border-width: 1px;
     border-color: red;

 }

 .small {
     font-weight: 400;
 }

 .mapNotes {
     max-width: 100%;
 }

 .error {
     color: red;
 }

 #title {
     transition-timing-function: ease-in;
     transition: transform 2s;
 }

 #title:hover {
     transform: rotate(-180deg);
     color: black;
     text-shadow: 2px 2px 8px #aae0fb;

 }

 pre {
     white-space: pre-wrap;
 }

 .cron_input {
     width: 11em
 }