 .mapView {
     min-width: 500px;
     height: 100%;
     width: 100%;
     min-height: 50px;
     word-wrap: break-word;
 }

 li {
     font-weight: 600;
     display: list-item;
     list-style-type: disc;
     list-style-position: inside;
 }

 .border {
     border-style: dotted;
     border-width: 1px;
     border-color: red;

 }

 .small {
     font-weight: 400;
 }

 .mapNotes {
     max-width: 100%;
 }

 .error {
     color: red;
 }